<el-table *ngIf="data" [model]="data" [scroll-x]="true" center="all">
  <el-table-column model-key="created_at" label="Created At" width="140">
  </el-table-column>
  <el-table-column model-key="title" label="Title" width="140">
  </el-table-column>
  <el-table-column model-key="url" label="Url" width="140" [render-html]="true">
  </el-table-column>
    <el-table-column model-key="author" label="Author" width="140">
  </el-table-column>
  <el-table-column label="More" width="120">
    <!-- <ng-template #slot let-scope="scope"> -->
      <!-- <el-button type="text" size="small" (click)="takeDataFromRow(scope)">See Details</el-button> -->
    <!-- </ng-template> -->
  </el-table-column>
</el-table>